<div class="reduced-profile">
    <div class="reduced-profile-container">
        <div class="reduced-profile-info">
            <h2>Sam Harshbarger</h2>
            <h3>MPhil Student at Oxford</h3>
            <div class="reduced-social">
                <a href="mailto:samuel.harshbarger@balliol.ox.ac.uk" class="social-icon">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/sam-harshbarger/" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://bsky.app/profile/did:plc:mkvr5kdgtcjs4xrbosm2xl5g" class="social-icon">
                    <img src="../public/photos/bluesky-brands-solid.svg" alt="Bluesky" class="social-icon-img">
                </a>
            </div>
        </div>
    </div>
</div> 