<div class="reduced-profile">
    <div class="reduced-profile-container">
        <div class="reduced-profile-info">
            <h2>Sam Harshbarger</h2>
            <h3>Doctoral Student at Oxford</h3>
            <div class="reduced-social">
                <a href="mailto:sam.harshbarger@oxford.ac.uk" class="social-icon">
                    <i class="fas fa-envelope"></i>
                </a>
                <a href="#" class="social-icon">
                    <i class="fab fa-linkedin"></i>s
                </a>
            </div>
        </div>
    </div>
</div> 